.body {
    width: 1200px;
    height: 700px;
    z-index: -100;
    background: transparent url("../img/Foto background.jpg") no-repeat bottom/100%;
}

.body div {
    height: 100%;
}

/************* Left Side *************/

.left-side {
    padding-top: 120px;
    border-right: 1px solid rgba(22, 8, 23, 0.73);
}

.left-side h5 {
    font-weight: bold;
    color: rgba(1, 146, 2, 0.6);
    font-size: 17px;
}

p {
    font-size: 12px;
}

/************* Right Side *************/

.right-side {
    background-color: #61a1a4;
}

.language-first {
    padding-top: 25px;
}

.right-side p {
    margin-bottom: 0;
}

.right-side h4 {
    color: white;
    padding-top: 10px;
    font-weight: bold;
    padding-left: 6px;
}

.language {
    padding-left: 20px;
    font-weight: bold;
    padding-top: 35px;
}

.social {
    padding-top: 50px;
    text-align: center;
}

.social-ul {
    list-style-type: none;
}

.social-ul a span {
    text-decoration: none;
}