/************* Left Side *************/

.left-side {
    padding-top: 120px;
    border-right: 1px solid rgba(22, 8, 23, 0.73);
    height: 700px;
}

.left-side h5 {
    font-weight: bold;
    color: rgba(1, 146, 2, 0.6);
    font-size: 17px;
}

p {
    font-size: 12px;
}

/************* Right Side *************/

.right-side {
    background-color: #61a1a4;
    height: 700px;
}

.language-first {
    padding-top: 25px;
}

.right-side p {
    margin-bottom: 0;
}

.right-side h4 {
    color: white;
    padding-top: 10px;
    font-weight: bold;
    padding-left: 6px;
}

.language {
    padding-left: 20px;
    font-weight: bold;
    padding-top: 35px;
}

.social {
    padding-top: 50px;
    text-align: center;
}

.social-ul {
    list-style-type: none;
}

.social-ul a span {
    text-decoration: none;
}

/************* Center Side *************/

.advice_filter {
    background-color: #61a1a4;
    clear: both;
    height: 400px !important;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.advice_filter h5 {
    font-weight: bold;
    color: white;
}

.header-filter {
    padding-top: 60px;
    text-align: center;
}

.header-category {
    text-align: center;
}

#categories {
    margin-left: 10px;
}

.select-filters {
    width: 120px;
}

.margin-left {
    margin-left: -5px;
}

.ul-advices li {
    color: white;
}

.p-question{
    font-size: 11px;
    padding-top: 70px;
    text-align: right;
}

.h4-question{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: #2e6da4;
}

.h3-form-title{

}

.ul-advices a {
    color: black;
    margin-left: -8px;
    font-size: 15px;
}

.ul-advices {
    padding-top: 40px;
    padding-left: 25px;
    list-style: disc;
}

.logo {
    width: 100%;
    height: 120px;
    padding-top: 10px;
}

.line {
    background-color: #61a1a4;
    height: 1px !important;
}

.line2x {
    background-color: #61a1a4;
    height: 3px !important;
}

/************** Body ****************/
.body {
    height: 700px;
    z-index: -100;
    margin: 0 auto;
    background: transparent url("../img/Foto background.jpg") no-repeat bottom/100%;
}

